@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Atma:wght@300;400;500;600;700&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply leading-relaxed;
  font-family: "Arbutus", "League Spartan", "Oxygen", "Roboto", sans-serif;
}

html {
  @apply text-base lg:text-lg;
  overflow-y: scroll;
}

@layer utilities {
  .content-container {
    @apply px-10 lg:px-48 mt-8 lg:mt-16;
  }

  .title-text {
    @apply sm:text-3xl md:text-4xl text-2xl font-semibold sm:leading-snug;
  }

  .subtitle-text {
    @apply text-xl md:text-2xl font-normal sm:leading-snug;
  }

  .text-with-hover {
    @apply text-slate-300 hover:border-slate-300 hover:text-white transition-all duration-500;
  }

  .icon-with-hover {
    @apply border-b-2 border-transparent hover:border-current hover:border-slate-300 transition-all duration-500;
  }

  .teardrop-border {
    @apply rounded-b-lg rounded-tl-lg hover:border-slate-400 transition-all duration-500;
  }

  .technology-bg {
    @apply bg-slate-500 teardrop-border whitespace-nowrap pr-0.5 pl-0.5 m-1 text-sm md:text-base;
  }

  .input {
    @apply text-gray-900 py-3 px-4 block w-full outline-none rounded-lg text-sm focus:ring-1 focus:ring-secondary disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600;
  }

  .nav-link {
    @apply list-none  border-b-2 border-transparent text-with-hover;
  }
}

.item-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0ms, transform 900ms;
}

.item-exit {
  opacity: 1;
  transform: translateY(0);
}

.item-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}
